In [1]:
# Python Basic

In [2]:
# 1) Convert x=5 into a floating-point number.

In [3]:
x = 5
print(float(x))

5.0

In [4]:
# 2) Get the result characters from index 2 to index 4.

# txt = "Hello World"

In [5]:
txt = "Hello World"
print(txt[2:5])

llo

In [6]:
# 3) Return the string without any whitespace at the beginning or the end.

# txt = "  Hello World  "

In [9]:
txt = "  Hello World  "
print(txt.strip())

Hello World

In [10]:
# 4) Replace the character H with a J.

# txt = "Hello World"

In [20]:
txt = "Hello World"
txt = txt.replace("H", "J")
print(txt)

Jello World

In [22]:
# 5) Insert the correct syntax to add a placeholder for the age parameter.

# age = 26

# Please print out: My name is John, and I am 26.

In [28]:
age = 26
print("My name is John, and I am {}".format(age))

# alternative method using f-string

f"My name is John, and I am {age}"

My name is John, and I am 26

'My name is John, and I am 26'

In [29]:
# 6) Use the insert method to add "lemon" as the second item in the fruits.

# fruits = ["apple", "banana", "cherry"]

In [30]:
fruits = ["apple", "banana", "cherry"]

fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [31]:
# 7) Slicing this tuple to print: ('cherry', 'orange', 'kiwi').

# fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

In [32]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

In [33]:
# 8) fruits = {"apple", "banana", "cherry", "orange"}

# add "kiwi" to the fruits
# Use the correct method to add multiple items (more_fruits) to the fruits set.
# more_fruits = ["orange", "mango", "grapes"]

# remove "banana" from the fruits set.

In [35]:
fruits = {"apple", "banana", "cherry", "orange"}
# add "kiwi" to the fruits
fruits.add("kiwi")
print(fruits)

more_fruits = ["orange", "mango", "grapes"]
# Use the correct method to add multiple items (more_fruits) to the fruits set.
fruits.update(more_fruits)
print(fruits)

# remove "banana" from the fruits set.
fruits.remove("banana")
print(fruits)

{'kiwi', 'banana', 'apple', 'orange', 'cherry'}
{'kiwi', 'mango', 'banana', 'grapes', 'apple', 'orange', 'cherry'}
{'kiwi', 'mango', 'grapes', 'apple', 'orange', 'cherry'}

In [37]:
# 9) car = {"brand": "Ford", "model": "Explore", "year": 2006}

# Use the get method to print the value of the "model" key of the car dictionary.
# Change "year" from 2006 to 2020
# Use the pop method to remove "model" from the car dictionary.

In [50]:
car = {"brand": "Ford", "model": "Explore", "year": 2006}

# Use the get method to print the value of the "model" key of the car dictionary.
print(car.get("model"))

# Change "year" from 2006 to 2020
car["year"] = 2008
print(car)

# Use the pop method to remove "model" from the car dictionary.
car.pop("model")
print(car)

Explore
{'brand': 'Ford', 'model': 'Explore', 'year': 2008}
{'brand': 'Ford', 'year': 2008}

In [51]:
# 10) Use the format method to print: The price is 39.00 dollars

# price = 39

In [53]:
price = 39
print("The price is {:.2f} dollars".format(price))

The price is 39.00 dollars

In [54]:
# 11) Print out: I want 3 pieces of item number 127 for 39.00 dollars.

# quantity = 3
# itemno = 127
# price = 39

In [55]:
quantity = 3
itemno = 127
price = 39

print("I want {} pieces of item number {} for {:.2f} dollars".format(quantity,itemno,price))

I want 3 pieces of item number 127 for 39.00 dollars

In [56]:
# 12) Remove duplicate elements from a List: mylist=[1,3,1,6,9,3,7,8,9,2,8,5]

In [60]:
mylist=[1,3,1,6,9,3,7,8,9,2,8,5]
mylist = list(set(mylist))
print(mylist)

[1, 2, 3, 5, 6, 7, 8, 9]

In [61]:
# 13) Perform different set operations:

# M = {0, 2, 4, 6, 8, 10}
# N = {1, 2, 3, 4, 5, 7, 8, 9}
# print("Union of M and N is",     )
# print("Intersection of M and N is",       )
# print("Difference of M and N is",        )
# print("Symmetric difference of M and N is",           )

In [66]:
M = {0, 2, 4, 6, 8, 10}
N = {1, 2, 3, 4, 5, 7, 8, 9}
print("Union of M and N is",M.union(N))
print("Intersection of M and N is",M.intersection(N))
print("Difference of M and N is",M.difference(N))
print("Symmetric difference of M and N is",M.symmetric_difference(N))

Union of M and N is {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection of M and N is {8, 2, 4}
Difference of M and N is {0, 10, 6}
Symmetric difference of M and N is {0, 1, 3, 5, 6, 7, 9, 10}

In [67]:
# 2. Python Advanced

In [68]:
# 1) Iterate over a dictionary using for loop and print out.

# dt = {'a': 'time', 'b': 'money', 'c': 'health'}

In [69]:
dt = {'a': 'time', 'b': 'money', 'c': 'health'} 

for k,v in dt.items():
    print (k,v)

a time
b money
c health

In [73]:
# 2) Access index of a list using for loop and print out the list with its index.       

# mylist = [21, 31, 41, 51, 61, 71, 81]

# Result:

# 0 21
# 1 31
# 2 41
# 3 51
# 4 61
# 5 71
# 6 81

In [74]:
mylist = [21, 31, 41, 51, 61, 71, 81]
for i,v in enumerate(mylist):
    print(i,v)

0 21
1 31
2 41
3 51
4 61
5 71
6 81

In [75]:
# 3) A list: mylist = [[8], [3, 2], [1, 3, 4, 5]]. Use three approaches to make this list flattened as: [8, 3, 2, 1, 3, 4, 5]:
# a) list comprehension;
# b) nested for loops;
# c) lambda.

In [38]:
mylist = [[8], [3, 2], [1, 3, 4, 5]]
# a) List Comprehension
result = [x for y in mylist for x in y]
print(result)

[8, 3, 2, 1, 3, 4, 5]

In [37]:
# b) nested for loops
mylist = [[8], [3, 2], [1, 3, 4, 5]]
result = []
for y in mylist:
    for x in y:
        result.append(x)
print(result)

[8, 3, 2, 1, 3, 4, 5]

In [65]:
# c) lambda

In [79]:
# 4) A list: mylist = [1,2,3,4,5,6,7,8,9,10].
# Use list comprehension to split this list into evenly sized chunks.

In [80]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [81]:
# 5) Given strings as below, count the number of each vowels:       

# vowels = 'aeiou'
# new_str = 'Hello, how many hours have you spent on your courseware and practice every day?'

In [125]:
vowels = 'aeiou'
new_str = 'Hello, how many hours have you spent on your courseware and practice every day?'

count = 0
for i in vowels:
    for j in new_str:
        if i == j:
            count = count + 1
        else:
            pass
print("The total number of vowels in the string are",count)

The total number of vowels in the string are 26

In [83]:
# 6) Remove all punctuations from a string: "Hello!!!, how are you? -Hope doing well ~)."

# And print out the string without any punctuation.

In [116]:
str6 = "Hello!!!, how are you? -Hope doing well ~)"

final_str = "".join(i for i in str6 if i not in ("?", ".", ";", ":", "!"))
print(final_str)

Hello, how are you -Hope doing well ~)

In [96]:
# 7) Sort alphabetically the words form a string: “Virus surge hits New England despite high vaccination rates”. 
# And print out the sorted words one by one.

In [4]:
str7 = "Virus surge hits New England despite high vaccination rates"
result = list(str7.split())
result.sort()
print(" ".join(result))

England New Virus despite high hits rates surge vaccination

In [99]:
# 8) Convert Celsius to Fahrenheit and display it.         4 points

# The formula is: Celsius * 1.8 = Fahrenheit - 32
# The output (format) should be:
# 36.5 Celsius degree is equal to 97.7 Fahrenheit degree.

In [10]:
def CeltoFar(C):
    F = C * 1.8 + 32
    print("{} Celsius degree is equal to {} Fahrenheit degree".format(C,F))

CeltoFar(36.5)

36.5 Celsius degree is equal to 97.7 Fahrenheit degree

In [100]:
# 9) If a, b and c are three sides of a triangle. Then, the area of a triangle can be calculated as:     4 points

# s = (a+b+c)/2
# area = √(s(s-a)*(s-b)*(s-c))
# Now, we have a=5, b=6,c=7. Please write a program to calculate the area of this triangle.

In [7]:
import math
a,b,c = 5, 6, 7
s = (a+b+c)/2
area = math.sqrt(s*((s-a)*(s-b)*(s-c)))
print("The area of the triangle is: {} Sq.units".format(area))

The area of the triangle is: 14.696938456699069 Sq.units

In [101]:
# 10) Use 2 nested loops to add two 3x3 arrays and print out the results in a matrix style (3 rows and 3 columns) 

# X = [[9,2,3],
   #  [4,5,6],
#     [8,2,1]]

# Y = [[9,8,2],
    # [3,7,3],
    #[6,5,1]]

In [34]:
X = [[9,2,3],
        [4,5,6],
        [8,2,1]]

Y = [[9,8,2],
        [3,7,3],
        [6,5,1]]


result = [[0,0,0],
          [0,0,0],
          [0,0,0]]
for i in range(len(X)):
    for j in range(len(X[0])):
        result[i][j] = X[i][j] + Y[i][j]
for a in result:
    print(a)

[18, 10, 5]
[7, 12, 9]
[14, 7, 2]

In [59]:
# 11) Use a list comprehension to repeat the above question.

In [60]:
X = [[9,2,3],
        [4,5,6],
        [8,2,1]]

Y = [[9,8,2],
        [3,7,3],
        [6,5,1]]

result = [[X[i][j] + Y[i][j]  for j in range(len(X[0]))] for i in range(len(X))]
print(result)

[[18, 10, 5], [7, 12, 9], [14, 7, 2]]

In [108]:
# 12) Print a multiplication table of 8:        

# 8 x 1 = 8,
# ……..  
# 8 x 10 = 80

In [134]:
n = 8
for i in range(1,11):
    print("{} x {} = {}".format(n,i,n*i))

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [109]:
# 13) Write a program to print out the factorial of 6.

In [131]:
s = 1
for i in range(1,7):
    s = s*i
print(s)

720

In [110]:
# 14) Use while-loop to calculate the sum of natural numbers up to number=20.

In [124]:
total = 0
num = 20
while num > 0:
    total = total + num
    num = num - 1
print("Sum of 20 natural numbers =",total)

Sum of 20 natural numbers = 210

In [111]:
# 15) Define a function to calculate the GCD (greatest common divisor) of two numbers 
  #  and print out the result when these two numbers are 64 and 24.

In [27]:
def hcf(a,b):
    if (b==0):
        return a
    else:
        return hcf(b,a%b)

hcf(64,24)

8

In [112]:
# 16) Define a function to calculate the LCM (least common multiple) of two numbers  
  #  and print out the result when these two numbers are 64 and 24.

In [30]:
def lcm(x,y):
    if x > y:
        z = x
    else:
        z = y
    while True:
        if ((z%x == 0) and (z%y == 0)):
            lcm = z
            break
        z = z + 1
    return lcm
lcm(64,24)

192

In [113]:
# 17) Print all prime numbers between 900 and 1000.

In [7]:
nums = 900
lst = []
while nums < 1001:
    for i in range(2,nums):
        if (nums%i) == 0:
            break
        else:
            
            if nums in lst:
                pass
            else:
                lst.append(nums)
                continue
    nums = nums + 1
print(lst)

[901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999]